@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome USER, feel free to test our app!!</h2>
<br />

<a href="/Home/Employees" class="btn btn-primary">Employees</a>
<a href="/Home/Attributes" class="btn btn-success">Attributes</a>
<a href="/Home/EmployeesWithRelatedAttributes" class="btn btn-danger">Google Map</a>

